// Custom styles.
#ds-reset .ds-avatar,
#ds-recent-visitors .ds-avatar {
  img {
    width: 54px;
    height: 54px; /*设置图像的长和宽，这里要根据自己的评论框情况更改*/
    border-radius: 27px; /*设置图像圆角效果,在这里我直接设置了超过width/2的像素，即为圆形了*/
    box-shadow: inset 0 -1px 0 #3333 sf; /*设置图像阴影效果*/
    transition: transform 0.4s ease-out; /*变化时间设置为0.4秒(变化动作即为下面的图像旋转360读）*/

    &:hover { /*设置鼠标悬浮在头像时的CSS样式*/
      box-shadow: 0 0 10px #fff,
        rgba(255, 255, 255, .6),
        inset 0 0 20px rgba(255, 255, 255, 1);
      transform: rotateZ(360deg); /*图像旋转360度*/
    }
  }
}

#ds-recent-visitors .ds-avatar {
  float: left;

  img {
    filter: gray;
    opacity: .4;

    &:hover {
      opacity: 1;
    }
  }
}

#ds-thread #ds-reset {
  .ds-textarea-wrapper textarea {
    background: url(http://ww4.sinaimg.cn/small/649a4735gw1et7gnhy5fej20zk0m8q3q.jpg) right no-repeat;
  }

  /*隐藏多说底部版权*/
  .ds-powered-by {
    display: none;
  }
}

