html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title 1sG Blog | a Blog system built on GitHub GraphQL API with Vue SSR
    base(target="_blank")
  body
    #app
